*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
}

a{
	box-shadow: inset 0 0 0 0;
	color: white;
	padding: 0 .25rem;
	margin: 0 -.25rem;
	transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
	border-radius: 15px;
}

a:link, a:visited, a:active { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none;
  color: black;
  box-shadow: inset 200px 0 0 0 white;
  background:
  	linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  	);
  ;
} 

h1{
	color: white;
	font-size: 2em;
}

.main{
	display: flex;
	flex-direction: column;
	font-family: Gruppo;
	background-color: black;
}

.menu{
	display: flex;
	justify-content: space-around;
	padding: 2vmin;
	margin: 0vmin;
	width: 100vw;
	position: fixed;
}

.nav{
	color: white;
	padding: 0.5vmin;
	padding-right: 1vmin;
	padding-left: 1vmin;
}

.callout1{
	display: flex;
	font-family: solvent;
	font-weight: bolder;
	font-size: 5em;
	color: white;
	background-image: url("ball.gif");
	background-size: cover;
	background-position: center;
	align-items: center;
	justify-content: center;
	height: 110vh;
}

.contentwrapper1{
	display: flex;
	background-image: url(shapes.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 90vh;
	margin: 3vmin;
	padding: 3vmin;
}

.content1{
	display: flex;
	flex-direction: column;
	font-size: 2.5em;
	color: white;
	margin-top: 8vw;
	margin-bottom: 8vw;
	margin-right: 10vw;
	margin-left: 10vw;
	padding-left: 23vmin;
	padding-right: 5vmin;
}

.small{
	font-size: 0.5em;
	color: white;
}

.next{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2em;
	color: white;
	margin: 8vmin;
}

.links{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
	color: white;
	width: 80vw;
	background-image: url("spring.gif");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

#next1{
	align-self: flex-start;
	margin: 5vmin;
}

#next2{
	align-self: flex-end;
	margin: 5vmin;
}

#next3{
	align-self: flex-start;
	margin: 5vmin;
}

.footer{
	display: flex;
	justify-content: flex-end;
	margin: 3vmin;
	opacity: 0.3;
	color: white;
}

/*---------------------------------------------*/

.callout2{
	display: flex;
	font-family: solvent;
	font-weight: bolder;
	font-size: 5em;
	color: white;
	background-image: url("rainbow-ball.gif");
	background-size: cover;
	background-position: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.headers{
	display: flex;
	flex-direction: column;
}

.header{
	display: flex;
	align-content: center;
	text-align: center;
	color: white;
	font-size: 3em;
	margin: 8vw;
	margin-top: 3vw;
	margin-bottom: 0vw;
	padding: 2vw;
}

.header2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2em;
	height:100vh;
	margin-right: 6vw;
	padding-right: 8vw;
}

.header2 img{
	width: 100%;
}
.content2{
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 2em;
	margin: 6vw;
}

.p1{
	display: flex;
	margin: 3vh;
	align-items: center;
}

.p1 img{
	aspect-ratio: 1/1;
	object-fit: contain;
	width: 35vw;
}

.p2{
	display: flex;
	text-align: right;
	margin: 3vh;
	align-items: center;
}

.p2 img{
	aspect-ratio: 1/1;
	object-fit: cover;
	height: 60vh;
}

.tonext{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 2em;
}

/*---------------------------------------------*/

.callout3{
	display: flex;
	font-family: solvent;
	font-weight: bolder;
	font-size: 5em;
	color: white;
	background-image: url("liquid-metal.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.content3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin: 2vw;
	margin-right: 6vw;
	margin-left: 6vw;
	height: 120vh;
	background-image: url(liquid-metal-copy.webp);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.content4{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin: 0vw;
	margin-right: 6vw;
	margin-left: 6vw;
	height: 100vh;
	background-image: url(shape3.webp);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.c3{
	font-size: 3em;
}

.p3{
	font-size: 2em;
}

.p4{
	align-self: flex-end;
	font-size: 2em;
	text-align: right;
}

#alldepths{
	margin: 0px;
	margin-left: 8vw;
}

#benthic{
	text-align: right;
	align-self: flex-end;
	margin: 0px;
	margin-top: 10vw;
	margin-right: 10vw;
}

.defense{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin: 3vw;
	margin-right: 6vw;
	margin-left: 6vw;
	height: 150vh;
}

.medium{
	font-size: 1em;
}

.dropwrapper{
	display: flex;
	justify-content: space-around;
	margin: 6vw;
}

.dropdwn{
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0px;
	padding: 2vmin;
}

.btn{
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 20vw;
	border-radius: 10px;
	margin: 0px;
}

.dropcontent {
  display: none;
  font-size: 2.5em;
  position: absolute;
  left: -15svw;
  top: -10vmin;
  background-color: #1F6C87;
  color: white;
  width: 50vw;
  height: 30vw;
  z-index: 1;
  border-radius: 10px;
  padding: 2vw;
}

.dropcontent2 {
  display: none;
  font-size: 2.5em;
  position: absolute;
  left: -10svw;
  top: -10vmin;
  background-color: #1F6C87;
  color: white;
  width: 50vw;
  height: 30vw;
  z-index: 1;
  border-radius: 10px;
  padding: 2vw;
}

.dropdwn:hover .dropcontent {
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.dropdwn:hover .dropcontent2{
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.funfact{
	background-image: none;
	display: flex;
	flex-direction: column;
	margin: 3vw;
	margin-right: 6vw;
	margin-left: 6vw;
	color: white;
}

.p5{
	display: flex;
	justify-content: space-between;
	font-size: 3em;
}

.ff{
	margin-right: 3vw;
}


.fi{
	width: 40%;
}

.p6{
	display: flex;
	justify-content: space-between;
	font-size: 3em;
	text-align: right;
}

.fi2{
	width: 30%;
}

/*---------------------------------------------*/

.callout4{
	display: flex;
	font-family: solvent;
	font-weight: bolder;
	font-size: 5em;
	color: white;
	background-image: url("rainbow-wave.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.content5{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	margin: 3vw;
	margin-right: 6vw;
	margin-left: 6vw;
	height: 150vh;
}

#first{
	background-image: none;
	height: 20vh;
	text-align: center;
}

.header4{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: white;
	font-size: 3em;
	margin: 10vw;
	height: 100vh;
	padding: 3vw;
	padding-top: 10vw;
	padding-right: 5vw;
	background-image: url(shape4.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.i4{
	width: 30%;
	align-self: center;
}

@media only screen and (max-width: 800px){
	.altc1{
		font-size: 3em;
	}

	.altcontwrap1{
		margin: 5vmin;
		height: 55vh;
		padding-top: 10vmin;
		padding-left: 0px;
		background-position: center;
	}

	.altcont1{
		font-size: 1em;
	}
}